<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1x6DOmSQ56csFvcoOlEbr9fZaRh6Ogs4</string>
	<key>GCM_SENDER_ID</key>
	<string>506118675081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>groundplay.Fnzc</string>
	<key>PROJECT_ID</key>
	<string>fnzc-ed62c</string>
	<key>STORAGE_BUCKET</key>
	<string>fnzc-ed62c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506118675081:ios:b3b930c0adc9a0f0d38458</string>
</dict>
</plist>